<body id="section">
    <br />

    @{
        ViewBag.Title = "Contact";
    }

    <h2>Contact</h2>

    No: 09 <br />
    Bandaranayakapura Road,<br />
    Rajagiriya<br />
    <br />
    Mobile : 0775922449<br />
    E-mail : thabith.hm@live.com

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
</style>