<body id="section">

    @{
        ViewBag.Title = "Logout";
        Layout = "~/Views/Shared/_wrongLayout.cshtml";
    }

    <h2>Good Bye</h2>

    Come back soon......

</body>

<style>
    #section {
        background-color: Aqua;
        font-size: large;
        font-weight: 300;
        font-style: oblique;
        text-align: center;
    }
</style>