<body>
@model MvcLoginApp.Models.LoginModel

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<b>Wellcome Home!</b>

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: lighter;
        font-style: normal;
        text-align: center;
    }
</style>