<body id="section">
    <br />
    @{
        ViewBag.Title = "About ME";
    }

    <h2>About ME</h2>

    I am Thabith Hameed

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
</style>