<body id="section">
    @{
        ViewBag.Title = "Profile";
    }

    <h2>My Profile</h2>

    I am Hameed Thabith<br />
    I am Studying Software Engineering at IIT

</body>

<style>
    #section {
        background-color: Silver;
        font-size: large;
        font-weight: bold;
        font-style: oblique;
        text-align: center;
    }
</style>